.currencyConverter {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 1020px) {
    padding-top: 30px;
    height: auto;
  }

  &__form {
    width: 400px;
    padding: 30px 15px;

    @media screen and (max-width: 1020px) {
      width: 90%;
    }

    label {
      display: block;
    }

    input {
      width: 100%;
      padding: 12px 0;
      border: 0;
      border-bottom: 2px solid #ba3326;
      transition: all 0.2s;
      color: #000;
      font-weight: 700;

      &:focus {
        border: 0;
        border-bottom: 2px solid #ccc;
        outline: 0;
      }
    }

    button {
      border-radius: 5px;
      border: 0;
      outline: 0;
      background: #ba3326;
      color: #fff;
      font-size: 15px;
      width: 100%;
      font-weight: 700;
      padding: 10px 10px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover,
      &:focus {
        padding: 13px 10px;
      }
    }
  }

  &__inputGroup {
    margin-bottom: 30px;
  }

  &__result {
    border-radius: 5px;
    padding: 15px;
    max-width: 800px;
    text-align: center;

    @media screen and (max-width: 1020px) {
      max-width: auto;
      width: 90%;
    }
  }

  &__valueResult {
    display: inline-block;
    font-weight: 700;
    background: lightgray;
    color: #111;
    padding: 10px 30px;
    border-radius: 5px;
  }

  &__countriesText {
    margin: 15px 0;
    font-size: 25px;
  }

  &__errorMessage {
    color: #fff;
    background: darkred;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  &__toggleCodes {
    display: flex;
    align-items: center;
    background: #ba3326;
    border-radius: 5px;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      padding: 10px 15px;
    }
  }

  &__atmIcon {
    margin-right: 5px;
    color: #fff !important;
  }
}
